@import url(./reset.css);
@import url(./inputs.css);
@import url(./results.css);

:root {
    --background: hsl(223, 35%, 10%);
    --foreground: hsl(227, 100%, 95%);
    --primary-color: hsla(220, 65%, 50%, 0.76);
}

body {
    margin: 1rem;
    background-color: var(--background);
    color: var(--foreground);
}

h1 {
    margin-bottom: 1rem;
    text-shadow: 0 0 5px black, 0 0 10px var(--primary-color);
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

tbody>tr:first-child {
    background-color: var(--background);
}

tbody>tr:nth-child(odd)>td {
    background: var(--primary-color);
}

th,
td {
    text-align: center;
    width: 150px;
    border: var(--foreground) 1px solid;
}